.login{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("projects/login-page/winter_love.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 16px;
}

#name{
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.space{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.input-box{
    position: relative;
    margin: 0, 0, 20px 0;
    width: 100%;
}

.input-box input{
    width: 100%;
    padding: 14px 0 6px;
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
}

.input-box input::placeholder{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.85);
}

.input-box input:focus::placeholder{
    opacity: 0.3;
}
   
.login-button{
    margin: 20px;
    width: 100px;
    padding: 10px 28px;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 25px;
    background: linear-gradient( 45deg,
    purple, blue);
    color: white;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
     margin-top: 10px;
}
 .button .login-button{
    margin: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
 }

 .login-button:hover{
    transform: translate(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
 }
/*PORT Folio*/
.stylish{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}


/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: black;
    color:white;
}

nav ul{
    display: flex;
    list-style: none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

/* HERO */
.hero{
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right,
     purple,blue);
     color:white;
}

.hero button{
    margin-top: 15px;
    padding:12px 25px;
    border:none;
    border-radius: 8px;
    background: linear-gradient(to right,
    purple,blue);
    color:white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0 15px purple;
}

.hero button:active{
    transform: scale(0.95)
}

.hero button:hover{
    transform:scale(1.05);
    opacity:0.9;
}

section{
    padding: 50px 20px;
    text-align: center;
}

.project{
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    width:250px;
}

.project:hover{
    transform:scale(1.05);
}
a{
    text-decoration: none;
}
