.spider-body{
    margin: 0;
    height: 100vh;
    background: burlywood;
}
.text-box{
    background-color: rgba(0,0,0,0.3);
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
}
.spidey_image_group1{
    display: flex;
}
.spidey_image_group1 img{
    width: 50%;
    object-fit: cover;
}
.spidey_image_group2{
    display: flex;
    flex-direction: column;
}
.spidey_image_group2 img{
    width: 100%;
}
.spidey_image_group3{
    display: flex;
    flex-direction: column;
}
.spidey_image_group3 img{
    width: 100%;
}
.out{
    width: 100%;
}
footer a{
    text-decoration: none;
}
.miles_button{
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 10%;
    max-width: 100px;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(45deg,
    blue, purple);
    color: white;
}
.spid_imgs img{
    transition: transform 0.3s ease;
}
.spid_imgs img:hover{
    transform: scale(1.03);
}

@media (min-width: 768px) {
    .spidey_image_group2{
        display: flex;
        flex-direction: row;
    }
    .spidey_image_group3{
    display: flex;
    flex-direction: row;
    }
}