.brotherly{
    background-color: burlywood;
    height:100vh;
    margin:1px;
    font-family:"Poppins",sans-serif;
}

.tired{
    text-align: center;
    letter-spacing: 2px;
    color: red;
}

.sweet{
    width:950px;
    height:1500px;
}
.miles{
    height:370px;
    width:320px;
}
.text-box{  
    border: 1px solid rgba(255, 0, 0, 0.4);
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.75);
    color:white;
    padding: 20px;
    line-height: 1.6;
    box-shadow: 0 0 15px rgba(255,0,0,0.3);
    margin-bottom: 10px;
}
.web{
    display: flex;
    gap:2px;
}

.vibes{
    height:1500px;
    width:552px;
}

.nonchalant{
    height: 700px;
    width:450px;
}

.comic{
    height: 700px;
}

.out{
    height:700px;
    width:552px;
}

img{
    transition: 0.3s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.02);
    box-shadow: 0 0 15px red;
}

button{
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    border-radius: 15px;
    background: linear-gradient(45deg, red,blue);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 15px purple;
    transition: 0.3s;
}z

button:hover{
    transform: scale(1.05);
}